<tr>
    <td class="name"><%= video.name %></td>

    <!-- TODO: figure out the loop to show countries per policy -->
    <% Policy.each do %>
        <%= render partial: "release", :locals => {:country => release.country, :policy => release.policy} %>
    <% end %>
</tr>