<h1>Listing <%= @releases.count %> Videos</h1>

<table>
    <thead>
        <th>Name</th>
        <th>Free</th>
        <th>Monetize</th>
        <th>Block</th>
    </thead>
    <tbody>
        <%= render :partial => "video", :collection => @releases %>
    </tbody>
</table>
