<h1>Listing <%= @videos.count %> Videos</h1>

<table>
    <thead>
        <th>Name</th>
        <th>Free</th>
        <th>Monetize</th>
        <th>Block</th>
    </thead>
    <tbody>
        <% @videos.each do |video| %>
            <%= render :partial => "video", :locals => {:video => video} %>
        <% end %>
    </tbody>
</table>
