/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body{
    margin:0px;
    margin-bottom: 20px;
    padding:0px;
    width:100%;
    background-color: #6895c9;
}
div#body{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding: 20px;
}
table{
    width: 75%;
}
td{
    /*border:1px solid black;*/
}
td#name{
    width:10%;
}
.table_footer{

}

div.clear{
    clear:both;
}

 .float_l{
    float:left;
 }
 .float_r{
    float:right;
 }
div.pagination{

}
